<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />

    <title>Deck Settings</title>
  </head>
  <body>
    <div id="app">
      <h1>Deck Settings</h1>
      <form method="post" action="">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" v-model.trim="deckName" /> ({{deckName.length}} characters)
        </div>
        <div>
          <label for="description">Description: </label>
          <textarea id="description" name="description" v-model.lazy="deckDescription"></textarea>
          ({{ charsLeft }} left)
        </div>
        <div class="options">
          <div>
            <input type="checkbox" true-value="on" false-value="off" id="reverse" value="reverse" v-model="reverse" />
            <label for="reverse">Include reverse cards</label>
          </div>
          <div>
            <input type="checkbox" id="time_limit" value="time_limit" />
            <label for="time_limit">Use time limit</label>
          </div>
          <div>
            <input type="checkbox" id="reminders" value="reminders" />
            <label for="reminders">Enable reminders</label>
          </div>
        </div>
        <div>
          <fieldset class="leech-action">
            <legend>Leech Action</legend>
            <div>
              <input type="radio" id="tag" name="leech" value="tag" v-model="leech" />
              <label for="tag">tag</label>
            </div>
            <div>
              <input type="radio" id="suspend" name="leech" value="suspend" v-model="leech" />
              <label for="suspend">suspend</label>
            </div>
          </fieldset>
        </div>
        <div class="category">
          <label for="category">Category:</label>
          <select name="category" id="category" v-model.number="categoryId">
            <option value="">Select</option>
            <option value="1">Foreign Language</option>
            <option value="2">History</option>
            <option value="3">Biology</option>
            <option value="4">Geography</option>
            <option value="5">Law</option>
            <option value="6">Programming</option>
          </select>
        </div>
        <div>Value of reverse: <strong> {{ reverse }} </strong></div>
        <button type="submit" v-on:click.prevent="submit">Create</button>
      </form>
    </div>
    <script src="https://unpkg.com/vue@3.0.7/dist/vue.global.js"></script>
    <script>
      const flashCardApp = {
        data() {
          return {
            deckName: "Vue.JS Fundamentals",
            deckDescription: "Core concepts and directives for working with Vue.js",
            reverse: false,
            leech:'tag',
            categoryId: ""
          };
        },
        computed: {
            charsLeft(){
                return 200 - this.deckDescription.length;
            }
        },
        methods:{
            submit(){
                alert('submitted');
            }
        }
      };
      const app = Vue.createApp(flashCardApp).mount("#app");
    </script>
  </body>
</html>
